{{- $multipleClusters := gt (len .) 1 }}
{{- if $multipleClusters -}}
<h3>Clusters</h3>
<ul>
  {{- range . }}
  {{- if .Name }}
  <li><a href="#{{ .Name }}">{{ .Name }}</a></li>
  {{- end }}
  {{- end }}
</ul>

<h3>Apps</h2>
{{- end -}}

{{- range $cluster := . }}
{{- if $multipleClusters }}

<h4>{{ .Name }}</h2>
{{ end -}}

<table>
  <tr>
    <th>Namespace</th>
    <th>Kind</th>
    <th>Name</th>
    <th>Supporting Services</th>
  </tr>
  {{- range $namespace := .Namespaces }}
  {{- $isFirstRow := true }}
  {{- range .Services }}
  <tr>
    {{- if $isFirstRow }}
    <td {{- rowspan (len $namespace.Services) }}>{{ $namespace.Name }}</td>
    {{- end }}
    <td><code>{{ .Kind }}</code></td>
    <td><a href="{{ .Path }}">{{ .Name }}</a></td>
    {{- if $isFirstRow }}
    <td {{- rowspan (len $namespace.Services) }}>
      {{- $isFirstService := true }}
      {{- range $k, $supporting := $namespace.Supporting -}}
        {{- if not $isFirstService }}, {{ end }}<a href="{{ .Path }}">{{ .Name }}</a>
        {{- $isFirstService = false }}
      {{- end -}}
    </td>
    {{- end }}
  </tr>
  {{- $isFirstRow = false }}
  {{- else }}
  <tr>
    <td>{{ $namespace.Name }}</td>
    <td></td>
    <td></td>
    <td>
      {{- $isFirstService := true }}
      {{- range $k, $supporting := $namespace.Supporting -}}
        {{- if not $isFirstService }}, {{ end }}<a href="{{ .Path }}">{{ .Name }}</a>
        {{- $isFirstService = false }}
      {{- end -}}
    </td>
  </tr>
  {{- end }}
  {{- end }}
</table>
{{- end }}
